<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <div class="panel price panel-grey">
            <div class="panel-heading arrow_box text-center">
                <h3>Selected items {{cartItems.length}}</h3>
            </div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{cartService.totalBalance}} $</strong></p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-lg btn-block btn-primary" href="#">BUY</button>
            </div>
        </div>
    </div>

    <div class="col-md-8"></div>
</div>